.outer3 {
	width: 80%;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

#instructions {
	font-family: 'Lato', sans-serif;
 	font-style: italic;
  	font-weight: 400;
  	color: #ffbe0b;
  	font-size: 32px;
  	margin-top: 50px;
}

.pending {
	visibility: hidden;
}

.win {
	visibility: visible;
	font-family: 'Lato', sans-serif;
 	font-style: italic;
  	font-weight: 400;
  	color: #F79824;
  	font-size: 32px;
  	margin-top: 50px;
}

/*active: word currently being correctly typed by user
thought::: what if animation time was length of song*/
.active {
	color: #55dd1f;
}

/*activeWrong: word currently being typed, user has typed it incorrectly*/
.activeWrong {
	color: #f73c1b;
}

/*waiting: word that is visibly waiting to be typed by user*/
.waiting {
	color: black;
	visibility: visible;
}

/*waitingHidden: word that is waiting to be typed, not yet visible to user*/
.waitingHidden {
	visibility: hidden;
}

.activeLetter {
	color: blue;
}

/*word that has already been typed by user*/
.done {
	color: gray;
}

#game {
	font-size: 56px;
	z-index: 10;
	width: 850px;
	margin-top: -50px;
	/*animation: slide-top 180s;*/
	height: 80px; 
	overflow: visible;
	position: relative;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%); 
	transform:translateX(100%);
	/* Apply animation to this element */ 
	-moz-animation: scroll-left 60s linear;
	-webkit-animation: scroll-left 60s linear;
	animation: scroll-left 60s linear;
}

ul {
	list-style-type: none;
	display: inline-flex;
}

.word {
	float: left;
	position: relative;
	font-family: 'Lato', sans-serif;
 	font-style: italic;
  	font-weight: 400;
  	margin-right: 20px;
}



/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-500%); }
}

@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-500%); }
}

@keyframes scroll-left {
0% { 
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}
100% { 
-moz-transform: translateX(-500%); /* Browser bug fix */
-webkit-transform: translateX(-500%); /* Browser bug fix */
transform: translateX(-500%); 
}
}